# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols
# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/esecure_api/.openapi-generator-ignore
/esecure_api/.travis.yml
/esecure_api/lib/model/address.dart
/esecure_api/doc/Address.md
/esecure_api/lib/model/address_dto.dart
/esecure_api/test/address_dto_test.dart
/esecure_api/lib/model/address_pojo.dart
/esecure_api/test/address_pojo_test.dart
/esecure_api/test/address_test.dart
/esecure_api/doc/AddressDto.md
/esecure_api/doc/AddressPOJO.md
/esecure_api/analysis_options.yaml
/esecure_api/lib/api.dart
/esecure_api/lib/api_client.dart
/esecure_api/lib/api_exception.dart
/esecure_api/lib/api_helper.dart
/esecure_api/lib/auth/api_key_auth.dart
/esecure_api/lib/auth/authentication.dart
/esecure_api/lib/model/binary_data.dart
/esecure_api/test/binary_data_test.dart
/esecure_api/doc/BinaryData.md
/esecure_api/lib/model/code.dart
/esecure_api/doc/Code.md
/esecure_api/lib/model/code_pojo.dart
/esecure_api/test/code_pojo_test.dart
/esecure_api/test/code_test.dart
/esecure_api/doc/CodePOJO.md
/esecure_api/lib/model/country.dart
/esecure_api/doc/Country.md
/esecure_api/lib/model/country_pojo.dart
/esecure_api/test/country_pojo_test.dart
/esecure_api/test/country_test.dart
/esecure_api/doc/CountryPOJO.md
/esecure_api/lib/model/email_sender_dto.dart
/esecure_api/test/email_sender_dto_test.dart
/esecure_api/lib/model/email_verification_dto.dart
/esecure_api/test/email_verification_dto_test.dart
/esecure_api/doc/EmailSenderDTO.md
/esecure_api/doc/EmailVerificationDTO.md
/esecure_api/lib/api/emergency_controller_api.dart
/esecure_api/test/emergency_controller_api_test.dart
/esecure_api/lib/model/emergency_dto.dart
/esecure_api/test/emergency_dto_test.dart
/esecure_api/lib/model/emergency_pojo.dart
/esecure_api/test/emergency_pojo_test.dart
/esecure_api/doc/EmergencyControllerApi.md
/esecure_api/doc/EmergencyDto.md
/esecure_api/doc/EmergencyPojo.md
/esecure_api/lib/model/estate.dart
/esecure_api/doc/Estate.md
/esecure_api/lib/api/estate_controller_api.dart
/esecure_api/test/estate_controller_api_test.dart
/esecure_api/lib/model/estate_manager_dto.dart
/esecure_api/test/estate_manager_dto_test.dart
/esecure_api/lib/model/estate_pojo.dart
/esecure_api/test/estate_pojo_test.dart
/esecure_api/lib/model/estate_registration_dto.dart
/esecure_api/test/estate_registration_dto_test.dart
/esecure_api/lib/model/estate_security_dto.dart
/esecure_api/test/estate_security_dto_test.dart
/esecure_api/test/estate_test.dart
/esecure_api/doc/EstateControllerApi.md
/esecure_api/doc/EstateManagerDto.md
/esecure_api/doc/EstatePOJO.md
/esecure_api/doc/EstateRegistrationDto.md
/esecure_api/doc/EstateSecurityDto.md
/esecure_api/lib/api/file_controller_api.dart
/esecure_api/test/file_controller_api_test.dart
/esecure_api/doc/FileControllerApi.md
/esecure_api/lib/model/gate_pass_pojo.dart
/esecure_api/test/gate_pass_pojo_test.dart
/esecure_api/doc/GatePassPojo.md
/esecure_api/git_push.sh
/esecure_api/lib/model/global_response_dto_emergency_pojo.dart
/esecure_api/test/global_response_dto_emergency_pojo_test.dart
/esecure_api/lib/model/global_response_dto_estate_pojo.dart
/esecure_api/test/global_response_dto_estate_pojo_test.dart
/esecure_api/lib/model/global_response_dto_gate_pass_pojo.dart
/esecure_api/test/global_response_dto_gate_pass_pojo_test.dart
/esecure_api/lib/model/global_response_dto_list_emergency_pojo.dart
/esecure_api/test/global_response_dto_list_emergency_pojo_test.dart
/esecure_api/lib/model/global_response_dto_list_estate.dart
/esecure_api/test/global_response_dto_list_estate_test.dart
/esecure_api/lib/model/global_response_dto_list_gate_pass_pojo.dart
/esecure_api/test/global_response_dto_list_gate_pass_pojo_test.dart
/esecure_api/lib/model/global_response_dto_list_notification_pojo.dart
/esecure_api/test/global_response_dto_list_notification_pojo_test.dart
/esecure_api/lib/model/global_response_dto_object.dart
/esecure_api/test/global_response_dto_object_test.dart
/esecure_api/lib/model/global_response_dto_occupant_information_pojo.dart
/esecure_api/test/global_response_dto_occupant_information_pojo_test.dart
/esecure_api/lib/model/global_response_dto_security_agent_pojo.dart
/esecure_api/test/global_response_dto_security_agent_pojo_test.dart
/esecure_api/lib/model/global_response_dto_string.dart
/esecure_api/test/global_response_dto_string_test.dart
/esecure_api/lib/model/global_response_dto_user_data_pojo.dart
/esecure_api/test/global_response_dto_user_data_pojo_test.dart
/esecure_api/lib/model/global_response_dto_visit_record.dart
/esecure_api/test/global_response_dto_visit_record_test.dart
/esecure_api/lib/model/global_response_dto_visitor.dart
/esecure_api/test/global_response_dto_visitor_test.dart
/esecure_api/lib/model/global_response_dto_void.dart
/esecure_api/test/global_response_dto_void_test.dart
/esecure_api/doc/GlobalResponseDtoEmergencyPojo.md
/esecure_api/doc/GlobalResponseDtoEstatePOJO.md
/esecure_api/doc/GlobalResponseDtoGatePassPojo.md
/esecure_api/doc/GlobalResponseDtoListEmergencyPojo.md
/esecure_api/doc/GlobalResponseDtoListEstate.md
/esecure_api/doc/GlobalResponseDtoListGatePassPojo.md
/esecure_api/doc/GlobalResponseDtoListNotificationPojo.md
/esecure_api/doc/GlobalResponseDtoObject.md
/esecure_api/doc/GlobalResponseDtoOccupantInformationPojo.md
/esecure_api/doc/GlobalResponseDtoSecurityAgentPojo.md
/esecure_api/doc/GlobalResponseDtoString.md
/esecure_api/doc/GlobalResponseDtoUserDataPojo.md
/esecure_api/doc/GlobalResponseDtoVisitor.md
/esecure_api/doc/GlobalResponseDtoVisitRecord.md
/esecure_api/doc/GlobalResponseDtoVoid.md
/esecure_api/lib/auth/http_basic_auth.dart
/esecure_api/lib/auth/http_bearer_auth.dart
/esecure_api/lib/model/login_request_dto.dart
/esecure_api/test/login_request_dto_test.dart
/esecure_api/doc/LoginRequestDTO.md
/esecure_api/lib/model/name_code_pojo.dart
/esecure_api/test/name_code_pojo_test.dart
/esecure_api/doc/NameCodePojo.md
/esecure_api/lib/api/notification_controller_api.dart
/esecure_api/test/notification_controller_api_test.dart
/esecure_api/lib/model/notification_creation_dto.dart
/esecure_api/test/notification_creation_dto_test.dart
/esecure_api/lib/model/notification_pojo.dart
/esecure_api/test/notification_pojo_test.dart
/esecure_api/doc/NotificationControllerApi.md
/esecure_api/doc/NotificationCreationDto.md
/esecure_api/doc/NotificationPojo.md
/esecure_api/lib/auth/oauth.dart
/esecure_api/lib/model/occupant_information_pojo.dart
/esecure_api/test/occupant_information_pojo_test.dart
/esecure_api/doc/OccupantInformationPojo.md
/esecure_api/lib/model/permission.dart
/esecure_api/doc/Permission.md
/esecure_api/test/permission_test.dart
/esecure_api/lib/model/picture_pojo.dart
/esecure_api/test/picture_pojo_test.dart
/esecure_api/doc/PicturePOJO.md
/esecure_api/pubspec.lock
/esecure_api/pubspec.yaml
/esecure_api/README.md
/esecure_api/lib/model/role.dart
/esecure_api/doc/Role.md
/esecure_api/lib/model/role_pojo.dart
/esecure_api/test/role_pojo_test.dart
/esecure_api/test/role_test.dart
/esecure_api/doc/RolePOJO.md
/esecure_api/lib/model/security_agent_pojo.dart
/esecure_api/test/security_agent_pojo_test.dart
/esecure_api/lib/model/security_registration_dto.dart
/esecure_api/test/security_registration_dto_test.dart
/esecure_api/doc/SecurityAgentPojo.md
/esecure_api/doc/SecurityRegistrationDTO.md
/esecure_api/lib/model/user.dart
/esecure_api/doc/User.md
/esecure_api/lib/model/user_action_request_dto.dart
/esecure_api/test/user_action_request_dto_test.dart
/esecure_api/lib/api/user_controller_api.dart
/esecure_api/test/user_controller_api_test.dart
/esecure_api/lib/model/user_data_pojo.dart
/esecure_api/test/user_data_pojo_test.dart
/esecure_api/lib/model/user_detail_dto.dart
/esecure_api/test/user_detail_dto_test.dart
/esecure_api/lib/model/user_device_dto.dart
/esecure_api/test/user_device_dto_test.dart
/esecure_api/lib/model/user_device_pojo.dart
/esecure_api/test/user_device_pojo_test.dart
/esecure_api/lib/model/user_pojo.dart
/esecure_api/test/user_pojo_test.dart
/esecure_api/lib/model/user_registration_dto.dart
/esecure_api/test/user_registration_dto_test.dart
/esecure_api/test/user_test.dart
/esecure_api/doc/UserActionRequestDTO.md
/esecure_api/doc/UserControllerApi.md
/esecure_api/doc/UserDataPojo.md
/esecure_api/doc/UserDetailDTO.md
/esecure_api/doc/UserDeviceDto.md
/esecure_api/doc/UserDevicePojo.md
/esecure_api/doc/UserPOJO.md
/esecure_api/doc/UserRegistrationDTO.md
/esecure_api/lib/model/verify_password_code_dto.dart
/esecure_api/test/verify_password_code_dto_test.dart
/esecure_api/doc/VerifyPasswordCodeDTO.md
/esecure_api/lib/model/visit_action_dto.dart
/esecure_api/test/visit_action_dto_test.dart
/esecure_api/lib/model/visit_record.dart
/esecure_api/lib/api/visit_record_controller_api.dart
/esecure_api/test/visit_record_controller_api_test.dart
/esecure_api/test/visit_record_test.dart
/esecure_api/doc/VisitActionDto.md
/esecure_api/lib/model/visitor.dart
/esecure_api/doc/Visitor.md
/esecure_api/lib/api/visitor_controller_api.dart
/esecure_api/test/visitor_controller_api_test.dart
/esecure_api/lib/model/visitor_creation_dto.dart
/esecure_api/test/visitor_creation_dto_test.dart
/esecure_api/lib/model/visitor_pojo.dart
/esecure_api/test/visitor_pojo_test.dart
/esecure_api/test/visitor_test.dart
/esecure_api/doc/VisitorControllerApi.md
/esecure_api/doc/VisitorCreationDTO.md
/esecure_api/doc/VisitorPOJO.md
/esecure_api/doc/VisitRecord.md
/esecure_api/doc/VisitRecordControllerApi.md
/esecure_api/lib/api/waitlist_controller_api.dart
/esecure_api/test/waitlist_controller_api_test.dart
/esecure_api/lib/model/waitlist_dto.dart
/esecure_api/test/waitlist_dto_test.dart
/esecure_api/doc/WaitlistControllerApi.md
/esecure_api/doc/WaitlistDto.md

# FVM Version Cache
.fvm/
.fvmrc
.vscode/settings.json
.vscode/launch.json
